# Data Structures

#### lists

In [1]:
fruits = ['orange', 'apple', 'pear', 'banana', 'kiwi', 'apple', 'banana']
print(fruits.count('apple'))
print(fruits.count('tangerine'))
print(fruits.index('banana'))

print(fruits.index('banana', 4))  # Find next banana starting at position 4

fruits.reverse()
print(fruits)

fruits.append('grape')
print(fruits)

fruits.sort()
print(fruits)

fruits.pop()
print(fruits)

2
0
3
6
['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange']
['banana', 'apple', 'kiwi', 'banana', 'pear', 'apple', 'orange', 'grape']
['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'pear']
['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange']

In [2]:
names = ['Micah','Dutch','Jaxon','Tim','Spencer']
# list.extend(iterable) - extend the list by appending all the items from the iterable
fruits.extend(names)
print(fruits)

['apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange', 'Micah', 'Dutch', 'Jaxon', 'Tim', 'Spencer']

In [3]:
fruits.sort()
print(fruits)

['Dutch', 'Jaxon', 'Micah', 'Spencer', 'Tim', 'apple', 'apple', 'banana', 'banana', 'grape', 'kiwi', 'orange']

####  Using Lists as Stacks

In [4]:
stack = [1,4,7]
stack.append(5)
stack.append(3)
print(stack)
stack.pop()
print(stack)
stack.pop()
print(stack)

[1, 4, 7, 5, 3]
[1, 4, 7, 5]
[1, 4, 7]

#### Using Lists as Queues

In [5]:
from collections import deque
queue = deque(["Erling","Katty","Tom"])
print(queue)
queue.append("John")
queue.append("Garry")
print(queue)
queue.popleft()
print(queue)
queue.pop()
print(queue)

deque(['Erling', 'Katty', 'Tom'])
deque(['Erling', 'Katty', 'Tom', 'John', 'Garry'])
deque(['Katty', 'Tom', 'John', 'Garry'])
deque(['Katty', 'Tom', 'John'])

#### List Comprehensions

In [6]:
squares = []
for x in range(1,10):
    squares.append(x**2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [7]:
qubes = list(map(lambda x: x**3, range(1,15)))
print(qubes)
# or quivalently
fourth_degree = [x**4 for x in range(1,15)]

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744]

In [5]:
# A list comprehension consists of brackets containing an expression followed by
# a for clause, then zero or more for or if clauses. The result will be a new list
# resulting from evaluating the expression in the context of the for and if clauses 
# which follow it. For example, this listcomp combines the elements of two lists if 
# they are not equal:
print([(x,y) for x in [1,2,3] for y in [3,1,4] if x!=y])
print([(x,y) for x in [1,2,3] for y in [3,1,4]])

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
[(1, 3), (1, 1), (1, 4), (2, 3), (2, 1), (2, 4), (3, 3), (3, 1), (3, 4)]

In [8]:
combs = []
cart_product = []
for x in [1,2,3]:
    for y in [3,1,4]:
        cart_product.append((x,y))
        if x!=y:
            combs.append((x,y))
print(combs)
print(cart_product)

[(1, 3), (1, 4), (2, 3), (2, 1), (2, 4), (3, 1), (3, 4)]
[(1, 3), (1, 1), (1, 4), (2, 3), (2, 1), (2, 4), (3, 3), (3, 1), (3, 4)]

In [16]:
vec = [-4, -2, 0, 2, 4]
# create a new list with the values doubled
print([x*2 for x in vec])

# filter the list to exclude negative numbers
print([x for x in vec if x >= 0])

# apply a function to all the elements
print([abs(x) for x in vec])

#call a mathod on each element
freshfruit = [' banana', 'longaberry', 'passion fruit ']
print([weapon.strip() for weapon in freshfruit])

#create a list of 2-tuples like (number, square)
print([(x, x**2) for x in range(7)])

#tuple must be paranthesized, otherwise an error is raised
#[x, x**2 for x in range(7)]

#flatten a list using a listcomp with two 'for'
vec = [[1,2,3], [4,5,6], [7,8,9]]
print([num for elem in vec for num in elem])

[-8, -4, 0, 4, 8]
[0, 2, 4]
[4, 2, 0, 2, 4]
['banana', 'longaberry', 'passion fruit']
[(0, 0), (1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36)]
[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [17]:
from math import pi
[str(round(pi, i)) for i in range(1,8)]

['3.1', '3.14', '3.142', '3.1416', '3.14159', '3.141593', '3.1415927']

#### Nested List Comprehensions

In [18]:
matrix = [
    [1,2,3,4],
    [5,6,7,8],
    [9,10,11,12],
]
print(matrix)
#The following list comprehension will transpose rows and columns:
[[row[i] for row in matrix] for i in range(4)]

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [19]:
transposed = []
for i in range(4):
    transposed.append([row[i] for row in matrix])
transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [20]:
transposed = []
for i in range(4):
    # the following 3 lines implement the nested listcomp
    transposed_row = []
    for row in matrix:
        transposed_row.append(row[i])
    transposed.append(transposed_row)

transposed

[[1, 5, 9], [2, 6, 10], [3, 7, 11], [4, 8, 12]]

In [21]:
# In the real world, you should prefer built-in functions to complex flow
# statements. The zip() function would do a great job for this use case:
list(zip(*matrix))

[(1, 5, 9), (2, 6, 10), (3, 7, 11), (4, 8, 12)]

#### The `del` statement

In [22]:
arr = [-1, 1, 66.25, 333, 333, 1234.5, -251.52522141526689189598017894124]
del arr[2]
print(arr)
print(round(arr[len(arr)-1],20)) # meaning type(list) rounds values at 
#most up to 14 . after dot or otherwise decimal places
type(arr)

[-1, 1, 333, 333, 1234.5, -251.52522141526688]
-251.52522141526688

list

In [23]:
del arr[2:4]
print(arr)
del arr[:]
print(arr)

[-1, 1, 1234.5, -251.52522141526688]
[]

In [24]:
del arr

#### Tuples and Sequences

In [26]:
Tuple = 123457890, 987654321, 'Greetings, Spoiled brat!'
print(Tuple[0])
print(Tuple)
# tuples could be nested
u = Tuple, (1,3,4,1,7)
print(u)
#tuples are immutable
#Tuple[0] = 999999999
#but they can contain mutable objects
v = ([1,3],[2,4])
print(v)
vu = u, v
print(vu)

123457890
(123457890, 987654321, 'Greetings, Spoiled brat!')
((123457890, 987654321, 'Greetings, Spoiled brat!'), (1, 3, 4, 1, 7))
([1, 3], [2, 4])
(((123457890, 987654321, 'Greetings, Spoiled brat!'), (1, 3, 4, 1, 7)), ([1, 3], [2, 4]))

In [27]:
empty = ()
singleton = "Hi", #<-- not trailing comma
print(len(empty))
print(len(singleton))
print(singleton)

0
1
('Hi',)

In [28]:
q,w,e = Tuple
print(q,'\n',w,'\n',e,'\n')

123457890
 987654321
 Greetings, Spoiled brat!

#### Sets

In [29]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}
print(basket)                      # show that duplicates have been removed
print('orange' in basket)
print('crabgrass' in basket)

{'apple', 'pear', 'orange', 'banana'}
True
False

In [30]:
a = set('abracadabra')
b = set('alacazam')
a                                  # unique letters in a

print(a - b)                              # letters in a but not in b
print(a | b)                              # letters in a or b or both
print (a & b)                              # letters in both a and b
print(a ^ b)                              # letters in a or b but not both

{'r', 'b', 'd'}
{'r', 'm', 'd', 'a', 'l', 'z', 'b', 'c'}
{'c', 'a'}
{'r', 'm', 'b', 'l', 'd', 'z'}

In [31]:
a = {x for x in "abracadabra" if x not in "abc"}
a

{'d', 'r'}

#### Dictionaries

In [32]:
# Creating a dictionary
my_dict = {
    'name': 'John',
    'age': 25,
    'job': 'Engineer'
}

# Accessing values by key
print(my_dict['name'])  # Output: John
print(my_dict['age'])   # Output: 25

# Modifying a value
my_dict['age'] = 26
print(my_dict['age'])   # Output: 26

# Adding a new key-value pair
my_dict['city'] = 'New York'
print(my_dict)  # Output: {'name': 'John', 'age': 26, 'job': 'Engineer', 'city': 'New York'}

# Checking if a key exists
if 'name' in my_dict:
    print("Name is in the dictionary.")  # Output: Name is in the dictionary.

# Deleting a key-value pair
del my_dict['job']
print(my_dict)  # Output: {'name': 'John', 'age': 26, 'city': 'New York'}

# Extracting keys
print(list(my_dict))  # Output: ['name', 'age', 'city']

John
25
26
{'name': 'John', 'age': 26, 'job': 'Engineer', 'city': 'New York'}
Name is in the dictionary.
{'name': 'John', 'age': 26, 'city': 'New York'}
['name', 'age', 'city']

In [33]:
tel = {'jack': 4098, 'sape': 4139}
tel['guido'] = 4127
print(tel)
print(tel['jack'])

del tel['sape']
tel['irv'] = 4127
print(tel)

print(list(tel))
print(sorted(tel))
print('guido' in tel)
print('jack' not in tel)

{'jack': 4098, 'sape': 4139, 'guido': 4127}
4098
{'jack': 4098, 'guido': 4127, 'irv': 4127}
['jack', 'guido', 'irv']
['guido', 'irv', 'jack']
True
False

In [34]:
dict([('sape', 4139), ('guido', 4127), ('jack', 4098)])

{'sape': 4139, 'guido': 4127, 'jack': 4098}

In [35]:
{x: x**2 for x in (2,4,6,8,10,12)}

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100, 12: 144}

In [36]:
dict(sape=4139, guido=4127, jack=4098)

{'sape': 4139, 'guido': 4127, 'jack': 4098}

#### Looping Techniques

In [37]:
knights = {'gallhand': 'the pure', 'robin': 'the brave'}
for k,v in knights.items():
    print(k, v)

gallhand the pure
robin the brave

In [38]:
for i,v in enumerate(['tic','tac','toe']):
    print(i,v)

0 tic
1 tac
2 toe

In [39]:
# To loop over two or more sequences at the same time, the entries can
# be paired with the zip() function.
questions = ['name', 'quest', 'favorite color']
answers = ['lancelot', 'the holy grail', 'blue']
for q, a in zip(questions, answers):
    print('What is your {0}?  It is {1}.'.format(q, a))

What is your name?  It is lancelot.
What is your quest?  It is the holy grail.
What is your favorite color?  It is blue.

In [40]:
# To loop over a sequence in reverse, first specify the sequence in a forward
# direction and then call the reversed() function.
for i in reversed(range(1,10,3)):
    print(i)

7
4
1

In [49]:
# To loop over a sequence in sorted order, use the sorted() function 
# which returns a new sorted list while leaving the source unaltered.
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for i in sorted(basket):
    print(i)
print("\n")
for i in (basket):
    print(i)

apple
apple
banana
orange
orange
pear


apple
orange
apple
pear
orange
banana

In [42]:
# Using set() on a sequence eliminates duplicate elements. The use of
# sorted() in combination with set() over a sequence is an idiomatic 
# way to loop over unique elements of the sequence in sorted order.
basket = ['apple', 'orange', 'apple', 'pear', 'orange', 'banana']
for f in sorted(set(basket)):
    print(f)

apple
banana
orange
pear

In [43]:
# It is sometimes tempting to change a list while you are looping over 
# it; however, it is often simpler and safer to create a new list instead.
import math
raw_data = [56.2, float('NaN'), 51.7, 55.3, 52.5, float('NaN'), 47.8]
filtered_data = []
for value in raw_data:
    if not math.isnan(value):
        filtered_data.append(value)
filtered_data

[56.2, 51.7, 55.3, 52.5, 47.8]

#### More on Conditions

In [44]:
differ = [type(basket) is not type(filtered_data)]
same = [type(basket) is type(filtered_data)]
print(differ)
print(same)

[False]
[True]

In [45]:
str1, str2, str3 = '', 'Trondheim', 'Hammer Dance'
non_null = str1 or str2 or str3
Null = str1 and str2 and str3
print(non_null)
print('Null' if Null is None else 'not null')
print(type(Null))

Trondheim
not null
<class 'str'>

#### Comparing Sequences and Other Types

In [50]:
print((1, 2, 3)              < (1, 2, 4))
print([1, 2, 3]              < [1, 2, 4])
print('ABC' < 'C' < 'Pascal' < 'Python')
print((1, 2, 3, 4)           < (1, 2, 4))
print((1, 2)                 < (1, 2, -1))
print((1, 2, 3)             == (1.0, 2.0, 3.0))
print((1, 2, ('aa', 'ab'))   < (1, 2, ('abc', 'a'), 4))

True
True
True
True
True
True
True